# All config volumes now point to /media/docker-data/

networks:
  servarrnetwork:
    name: servarrnetwork
    ipam:
      config:
        - subnet: 172.39.0.0/24

services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
    volumes:
      - /media/docker-data/qbittorrent:/config
      - /media/library:/data
    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    networks:
      servarrnetwork:
        ipv4_address: 172.39.0.5

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /media/docker-data/prowlarr:/config
    ports:
      - "9696:9696"
    networks:
      servarrnetwork:
        ipv4_address: 172.39.0.6

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /media/docker-data/sonarr:/config
      - /media:/media
    ports:
      - "8989:8989"
    networks:
      servarrnetwork:
        ipv4_address: 172.39.0.3

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /media/docker-data/radarr:/config
      - /media:/media
    ports:
      - "7878:7878"
    networks:
      servarrnetwork:
        ipv4_address: 172.39.0.4

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - /media/docker-data/jellyfin:/config
      - /media:/media
    devices:
      - /dev/dri:/dev/dri #Use for Intel QuickSync
    ports:
      - "8096:8096"
      - "7359:7359/udp"
      - "1900:1900/udp"
    restart: unless-stopped

  jellyseerr:
    container_name: jellyseerr
    image: fallenbagel/jellyseerr:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - /media/docker-data/jellyseerr:/app/config
    ports:
      - "5055:5055"
    restart: unless-stopped

  gestionnaire-app:
    image: 192.168.1.33:5000/budget-app:latest
    restart: unless-stopped
    ports:
      - "2000:2000"
    volumes:
      - /media/docker-data/budget/data:/app/data