services:
  adguardhome:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    environment:
      - ADGUARD_PASSWORD_HASH=${ADGUARD_PASSWORD_HASH}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "3000:3000/tcp"
    volumes:
      - /media/docker-data/adguard/conf:/opt/adguardhome/work
      - /media/docker-data/adguard/conf:/opt/adguardhome/conf
    restart: unless-stopped
