# ==============================================================================
# Playbook pour cloner le stack AdGuard pour l'utilisateur 'clem'
# ==============================================================================

- name: Déployer la configuration AdGuard depuis GitHub
  # Cible l'hôte 'adguard' de l'inventaire
  hosts: adguard
  gather_facts: yes
  vars_files:
    - ../credentials.yml
  tasks:
  - name: Vérifier la présence du répertoire .git
    ansible.builtin.stat:
      path: /home/clem/.git
    register: git_repo_stat

  # Étape 2: Cloner le dépôt en mode sparse s'il n'existe pas
  - name: "Effectuer le clonage partiel (sparse checkout) initial"
    ansible.builtin.shell: |
      set -e
      git init
      git remote add origin https://github.com/clementtrecourt/homelab-stack.git
      git config core.sparseCheckout true
      echo "docker-compose/lxc-100-adguard/" > .git/info/sparse-checkout
      git pull --depth=1 origin master
    args:
      # Cette commande s'exécutera dans le répertoire de destination
      creates: /home/clem/adguard/.git
      # Ansible créera le répertoire s'il n'existe pas
      
    when: not git_repo_stat.stat.exists

  # Étape 3: Mettre à jour le dépôt s'il existe déjà (équivalent de update: yes)
  - name: Mettre à jour le dépôt existant
    ansible.builtin.shell: git pull origin master
    args:
      chdir: /home/clem/adguard
    when: git_repo_stat.stat.exists

  - name: Message de succès
    ansible.builtin.debug:
      msg: "Le dépôt a été cloné ou mis à jour avec succès dans /home/clem/adguard et les fichiers appartiennent à l'utilisateur {{ ansible_user }}."