---
- name: 1. Apply common configuration to all LXC hosts
  hosts: lxc_hosts
  roles:
    - role: common
    - role: users  

- name: 2. Deploy AdGuard Home
  import_playbook: provisioning/adguard.yml 

- name: 3. Deploy Nginx
  import_playbook: provisioning/nginx.yml 
- name: 4. Deploy Servarr
  import_playbook: provisioning/servarr.yml 