---
- name: 1. Apply common configuration to all LXC hosts
  hosts: lxc_hosts
  roles:
    - role: common
    - role: users
          
- name: 6. Deploy Monitoring
  import_playbook: provisioning/monitoring.yml



    
    
- name: 2. Prepare Proxmox
  import_playbook: provisioning/configure_proxmox.yml 

- name: 3. Deploy traefik
  import_playbook: provisioning/traefik.yml

- name: 4. Deploy Servarr
  import_playbook: provisioning/servarr.yml 

- name: 5. Deploy AdGuard Home
  import_playbook: provisioning/adguard.yml 

