---
- name: Deploy AdGuard Home
  hosts: adguard
  gather_facts: no
  tasks:
    - name: Copy .env file with secrets to AdGuard LXC
      ansible.builtin.copy:
        # 'src' est le chemin sur le BASTION (la machine qui lance Ansible)
        # 'playbook_dir' est le dossier 'ansible'. On remonte d'un cran (..) pour aller dans 'docker-compose'
        src: "{{ playbook_dir }}/../docker-compose/lxc-202-adguard/.env"
        
        # 'dest' est le chemin sur le LXC ADGUARD (la cible)
        dest: "/opt/homelab-stack/docker-compose/lxc-202-adguard/.env"
        
        # Permissions strictes (seul root peut le lire)
        mode: '0600'
    # ----------------------

    - name: Start the AdGuard stack with Docker Compose
      community.docker.docker_compose_v2:
        project_src: '/opt/homelab-stack/docker-compose/lxc-202-adguard'
        state: present