---
- name: Deploy AdGuard Home
  hosts: adguard
  gather_facts: no
  tasks:
    - name: Start the AdGuard stack with Docker Compose
      community.docker.docker_compose_v2:
        project_src: '/opt/homelab-stack/docker-compose/lxc-202-adguard'
        state: present