- name: Configure Common Mounts on All LXCs
  hosts: proxmox_host
  become: true
  
  vars_files:
    - ../group_vars/all.yml

  tasks:
    - name: "Ensure /media is mounted in all LXCs"
      ansible.builtin.blockinfile:
        path: "/etc/pve/lxc/{{ vmid[item] }}.conf"
        block: |
          mp0: /mnt/media_hdd,mp=/media
        create: no
        marker: "# {mark} ANSIBLE MANAGED MEDIA MOUNT"
      loop: "{{ groups['lxc_hosts'] }}"
      register: mount_results

    - name: "Restart containers with changed mount points"
      ansible.builtin.command:
        cmd: "pct reboot {{ vmid[item.item] }}"
      loop: "{{ mount_results.results }}"
      when: item.changed
      loop_control:
        label: "{{ item.item }}"

- name: Configure Specific Passthrough for Servarr LXC
  hosts: proxmox_host
  become: true
  vars_files:
    - ../group_vars/all.yml
  handlers:
    - name: Restart specific LXC
      ansible.builtin.command:
        cmd: "pct reboot {{ vmid[item] }}"
      loop: "{{ groups['lxc_hosts'] }}"
      listen: "Restart specific LXC"