---
- name: Deploy k3s
  hosts: lxc_hosts_master:lxc_hosts_workers
  gather_facts: yes
  become: yes
  tasks:
      - name: Install K3s master
        shell: |
            curl -sfL https://get.k3s.io | sh -
        args:
            creates: /usr/local/bin/k3s

      - name: Get K3s node token
        command: cat /var/lib/rancher/k3s/server/node-token
        register: k3s_token
        changed_when: false

      - name: Save K3s server IP
        set_fact:
            k3s_server_ip: "{{ ansible_host }}"

- name: Install K3s workers
  hosts: lxc_hosts_workers
  gather_facts: yes
  become: yes
  vars:
      k3s_token: "{{ hostvars['master'].k3s_token.stdout }}"
      k3s_server_ip: "{{ hostvars['master'].ansible_host }}"
  tasks:
      - name: Install K3s worker
        shell: |
            curl -sfL https://get.k3s.io | K3S_URL=https://{{ k3s_server_ip }}:6443 K3S_TOKEN={{ k3s_token }} sh -
        args:
            creates: /usr/local/bin/k3s
