---
- name: Deploy Traefik
  hosts: traefik
  gather_facts: no
  tasks:
    - name: Start Traefik with Docker Compose
      community.docker.docker_compose_v2:
        project_src: '/opt/homelab-stack/docker-compose/lxc-200-traefik'
        state: present